[Unit]
Description=Afrilearn Gunicorn application server
Requires=gunicorn.socket
After=network.target

[Service]
Type=notify
NotifyAccess=main
User=afrilearn
Group=afrilearn
SupplementaryGroups=www-data
WorkingDirectory=/srv/afrilearnsite
Environment=DJANGO_DATABASE_PATH=/var/lib/afrilearnsite/db/db.sqlite3
ExecStart=/srv/afrilearnsite/venv/bin/gunicorn \
    --access-logfile - \
    --workers 3 \
    --bind unix:/run/gunicorn.sock \
    afrilearnsite.wsgi:application
Restart=on-failure
RestartSec=3
UMask=0027
NoNewPrivileges=true
CapabilityBoundingSet=
MemoryDenyWriteExecute=true
PrivateDevices=true
PrivateTmp=true
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectProc=invisible
ProtectSystem=strict
ProcSubset=pid
ReadWritePaths=/var/lib/afrilearnsite
RemoveIPC=true
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
LockPersonality=true
SystemCallArchitectures=native

[Install]
WantedBy=multi-user.target
